.modal-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
  &.show {
    opacity: 1;
    pointer-events: auto;
    animation: modal .3s;
  }
  .modal {
    background-color: $white;
    width: 600px;
    max-width: 100%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    @keyframes modal {
      from {
				opacity: 0;
				transform: translate3d(0, -60px, 0);
			}
			to {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
    }
    .modal__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .modal__header__title {
        font-size: 32px;
        font-weight: 600;
        color: $raisinBlack;
        text-transform: uppercase;
        &::after {
          content: "";
          width: 150px;
          height: 5px;
          display: block;
          margin-top: 5px;
          background-color: $tangerine;
        }
      }
      #modal__header__close {
        color: $tangerine;
        padding: 10px;
        cursor: pointer;
      }
    }
    .modal__description {
      font-size: 14px;
      color: $davysGrey;
    }
    .modal__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .modal__form__input {
        border: 1px solid $raisinBlack;
        border-radius: 20px;
        background: rgba(210, 218, 237, 0.17);
        padding: 15px 25px;
        color: $raisinBlack;
      }
      .modal__form__budget {
        color: #757575;
        option {
          color: $raisinBlack;
        }
      }
      .modal__form__submit {
        border: none;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        color: $white;
        text-transform: uppercase;
        background-color: $tangerine;
        padding: 15px 25px;
        border-radius: 25px;
      }
    }
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 979px) {
}

/* Smartphone */
@media only screen and (max-width: 768px) {
  .modal-container {
    padding: 10px;
    .modal {
      width: 100vw;
    }
  }
}
