@import "normalize";
@import "reset";
@import "base";
@import "home";
@import "about";
@import "portfolio";
@import "contact";
@import "policy";
@import "terms";
@import "modal";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.menu__active {
  color: $tangerine !important;
}

.soon {
  width: 100%;
  p {
    font-size: 48px;
    text-align: center;
    color: $tangerine;
    text-transform: uppercase;
    font-weight: 600;
    padding: 100px 0;
  }
}

.logo_temp {
  width: 50px;
  height: 50px;
  background-color: $tangerine;
  color: $white;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.header__shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#header {
  width: 100%;
  #header__container {
    max-width: $widthContent;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 0;
    #header__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;
      #header__menu {
        #btn-mobile {
          display: none;
        }
        #menu__items {
          display: flex;
          gap: 32px;
          li {
            a {
              display: block;
              color: $arsenic;
              font-weight: 600;
              transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
              font-size: 16px;
              &:hover {
                color: $tangerine;
              }
            }
          }
        }
      }
      #header__menu__orcamento {
        border: none;
        cursor: pointer;
        background-color: $oldLace;
        padding: 15px 25px;
        border-radius: 25px;
        transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
        &:hover {
          background-color: $tangerine;
          p {
            color: $white;
          }
        }
        p {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 16px;
          color: $tangerine;
        }
      }
    }
  }
}

#banner {
  width: 100%;
  height: $boxHeight;
  #banner__content__images {
    position: absolute;
    width: 100%;
    height: $boxHeight;
    #banner__image__home {
      position: absolute;
      width: 100%;
      height: $boxHeight;
      background-image: url("../../assets/images/home.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      opacity: 0.5;
    }
    #banner__image__about {
      position: absolute;
      width: 100%;
      height: $boxHeight;
      background-image: url("../../assets/images/about.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      opacity: 0.5;
    }
    #banner__image__portifolio {
      position: absolute;
      width: 100%;
      height: $boxHeight;
      background-image: url("../../assets/images/portifolio.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      opacity: 0.5;
    }
    #banner__image__blog {
      position: absolute;
      width: 100%;
      height: $boxHeight;
      background-image: url("../../assets/images/blog.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      opacity: 0.5;
    }
    #banner__background {
      position: absolute;
      width: 100%;
      height: $boxHeight;
      background-color: #f4c09b;
      opacity: 0.7;
    }
  }
  #banner__content {
    width: 100%;
    height: $boxHeight;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    #banner__title {
      width: 650px;
      font-weight: 600;
      color: $raisinBlack;
      font-size: 64px;
      text-align: center;
      text-transform: uppercase;
    }
    #banner_subtitle {
      width: 650px;
      font-weight: 500;
      color: $davysGrey;
      font-size: 18px;
      text-align: center;
    }
    #banner__cta {
      border: none;
      cursor: pointer;
      p {
        font-weight: 600;
        font-size: 16px;
        color: $white;
        text-transform: uppercase;
      }
      background-color: $tangerine;
      padding: 15px 25px;
      border-radius: 25px;
      transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
      &:hover {
        background-color: $peachOrange;
        p {
          color: $tangerine;
        }
      }
    }
  }
}

#footer {
  width: 100%;
  background-color: $raisinBlack;
  position: absolute;
  &::after {
    content: "";
    width: 30px;
    height: 30%;
    background-color: $tangerine;
    border-top-right-radius: 20px;
    bottom: 0px;
    position: absolute;
  }
  &::before {
    content: "";
    width: 30px;
    height: 50%;
    background-color: $tangerine;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    top: 20px;
    right: 0;
    position: absolute;
  }
  #footer__wrapper {
    max-width: $widthContent;
    margin: 0 auto;
    display: flex;
    padding: 100px 0;
    flex-direction: column;
    #footer__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;
      #footer__content__company {
        display: flex;
        flex-direction: column;
        gap: 10px;
        #footer__content__company__name {
          font-size: 36px;
          color: $white;
          font-weight: 600;
          transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
          cursor: pointer;
          &:hover {
            color: $tangerine;
          }
        }
        #footer__content__company__social_netwworks {
          display: flex;
          flex-direction: row;
          gap: 20px;
        }
      }
      #footer__content__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        #footer__content__menu__title {
          font-size: 18px;
          font-weight: 600;
          color: $white;
        }
        #footer__content__menu_list {
          display: flex;
          flex-direction: column;
          gap: 5px;
          #footer__content__menu__list__item {
            a {
              p {
                color: $white;
                font-weight: 500;
                transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
                &:hover {
                  color: $tangerine;
                }
              }
            }
          }
        }
      }
      #footer__content__contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
        #footer__content__contact__title {
          font-size: 18px;
          font-weight: 600;
          color: $white;
        }
        #footer__content__contact_list {
          display: flex;
          flex-direction: column;
          gap: 5px;
          #footer__content__contact__list__item {
            a {
              p {
                color: $white;
                font-weight: 500;
                transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
                &:hover {
                  color: $tangerine;
                }
              }
            }
          }
        }
      }
      #footer__content__newsletter {
        display: flex;
        flex-direction: column;
        gap: 10px;
        #footer__content__newsletter__title {
          font-size: 18px;
          font-weight: 600;
          color: $white;
        }
        #footer__content__newsletter__form {
          display: flex;
          flex-direction: column;
          gap: 10px;
          #footer__content__newsletter__form__email {
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            background-color: $white;
            color: $raisinBlack;
            font-weight: 500;
            &::placeholder {
              color: $davysGrey;
              font-weight: 400;
            }
          }
          #footer__content__newsletter__form__submit {
            text-transform: uppercase;
            font-weight: 600;
            background-color: $tangerine;
            color: $white;
            border: none;
            border-radius: 20px;
            padding: 10px;
            max-width: 120px;
            cursor: pointer;
            transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
            &:hover {
              background-color: $peachOrange;
              color: $tangerine;
            }
          }
        }
      }
    }
    #footer__information {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      #footer__information__copyright {
        p {
          color: $white;
          font-weight: 500;
        }
      }
      #footer__information__privacy__term {
        display: flex;
        flex-direction: row;
        gap: 15px;
        a {
          color: $white;
          font-weight: 500;
          transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
          &:hover {
            color: $tangerine;
          }
        }
      }
    }
  }
}

#back_to_top {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 16px 20px;
  background-color: $tangerine;
  color: $white;
  border-radius: 10px;
  transition: 0.2s;
  text-decoration: none;
  z-index: 99;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    background-color: $peachOrange;
    transform: scale(105%);
  }
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  #footer {
    &::after {
      width: 20px;
    }
    &::before {
      width: 20px;
    }
    #footer__wrapper {
      #footer__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #footer__content__company {
          justify-content: center;
          align-items: center;
        }
        #footer__content__menu {
          justify-content: center;
          align-items: center;
          margin-top: 30px;
          #footer__content__menu_list {
            #footer__content__menu__list__item {
              a {
                p {
                  text-align: center;
                }
              }
            }
          }
        }
        #footer__content__contact {
          justify-content: center;
          align-items: center;
          margin-top: 30px;
          #footer__content__contact_list {
            #footer__content__contact__list__item {
              a {
                p {
                  text-align: center;
                }
              }
            }
          }
        }
        #footer__content__newsletter {
          justify-content: center;
          align-items: center;
          margin-top: 30px;
          #footer__content__newsletter__form {
            #footer__content__newsletter__form__email {
              width: inherit;
              max-width: 100%;
            }
            #footer__content__newsletter__form__submit {
              max-width: 100%;
            }
          }
        }
      }
      #footer__information {
        flex-direction: column-reverse;
        #footer__information__copyright {
          p {
            color: $white;
            font-weight: 500;
            text-align: center;
            margin-top: 30px;
          }
        }
        #footer__information__privacy__term {
          flex-direction: column;
          margin-top: 20px;
          gap: 5px;
          a {
            text-align: center;
          }
        }
      }
    }
  }
}

/* Smartphone */
@media only screen and (max-width: 768px) {
  .soon {
    p {
      font-size: 26px;
    }
  }

  #header {
    #header__container {
      #header__brand {
        margin-left: 10px;
      }
      #header__info {
        #header__menu {
          button {
            color: $raisinBlack;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 14px;
            line-height: 20px;
            #hamburguer {
              width: 20px;
              border-top: 2px solid;
              display: block;
              &::after,
              &::before {
                content: "";
                width: 20px;
                height: 2px;
                background: currentColor;
                display: block;
                margin-top: 5px;
                transition: 0.5s cubic-bezier(0.06, 0.29, 0.19, 1.4);
                position: relative;
              }
            }
          }
          #btn-mobile {
            display: flex;
            padding: 8px 10px;
            font-size: 1rem;
            border: none;
            background: none;
            cursor: pointer;
            gap: 0.5rem;
          }
          #menu__items {
            display: block;
            position: absolute;
            width: 100%;
            height: 0;
            top: 82px;
            right: 0;
            background: $raisinBlack;
            z-index: 1000;
            transition: 0.6s;
            visibility: hidden;
            overflow-y: hidden;
            li {
              a {
                text-align: center;
                color: $white;
                padding: 1rem;
                margin: 0 1rem;
                border-bottom: 2px solid rgba(0, 0, 0, 0.05);
              }
            }
          }
        }
        #header__menu.active #menu__items {
          height: calc(100vh - 70px);
          visibility: visible;
          overflow-y: auto;
        }
        #header__menu.active #hamburguer {
          border-top-color: transparent;
        }
        #header__menu.active #hamburguer::before {
          transform: rotate(135deg);
        }
        #header__menu.active #hamburguer::after {
          transform: rotate(-135deg);
          top: -7px;
        }
        #header__menu__orcamento {
          display: none;
        }
      }
    }
  }

  #banner {
    #banner__content {
      #banner__title {
        width: 100%;
        font-size: 42px;
      }
      #banner_subtitle {
        width: 100%;
        font-size: 16px;
      }
    }
  }

  #footer {
    &::after {
      width: 20px;
    }
    &::before {
      width: 20px;
    }
    #footer__wrapper {
      #footer__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #footer__content__company {
          justify-content: center;
          align-items: center;
        }
        #footer__content__menu {
          justify-content: center;
          align-items: center;
          margin-top: 30px;
          #footer__content__menu_list {
            #footer__content__menu__list__item {
              a {
                p {
                  text-align: center;
                }
              }
            }
          }
        }
        #footer__content__contact {
          justify-content: center;
          align-items: center;
          margin-top: 30px;
          #footer__content__contact_list {
            #footer__content__contact__list__item {
              a {
                p {
                  text-align: center;
                }
              }
            }
          }
        }
        #footer__content__newsletter {
          justify-content: center;
          align-items: center;
          margin-top: 30px;
          #footer__content__newsletter__form {
            #footer__content__newsletter__form__email {
              width: inherit;
              max-width: 100%;
            }
            #footer__content__newsletter__form__submit {
              max-width: 100%;
            }
          }
        }
      }
      #footer__information {
        flex-direction: column-reverse;
        #footer__information__copyright {
          p {
            color: $white;
            font-weight: 500;
            text-align: center;
            margin-top: 30px;
          }
        }
        #footer__information__privacy__term {
          flex-direction: column;
          margin-top: 20px;
          gap: 5px;
          a {
            text-align: center;
          }
        }
      }
    }
  }
}
